.root {
    -fx-background-color: #1B1B1B;
}

#scroll {
    -fx-background-color: #1B1B1B;
}

.scroll-pane {
    -fx-background-color: #1B1B1B;
}

.button {
    -fx-background-color: #FFA31A;
    -fx-text-fill: #FFFFFF;
    -fx-border-color: #181818;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}

.label {
    -fx-text-fill: #FFFFFF;
}

#hyperlink.label {
    -fx-text-fill: #FFA31A;
}

.text-field {
    -fx-background-color: #808080;
    -fx-prompt-text-fill: #1B1B1B;
    -fx-text-inner-color: #181818;
}

.tab-pane {
    -fx-background-color: #292929;
}

.tab {
    -fx-background-color: #FFA31A;
    -fx-background-radius: 0;
    -fx-border-color: #1B1B1B;
    -fx-border-radius: 0;
    -fx-border-width: 2.5;
    -fx-text-base-color: #D8D8D8;
}

/*
surround images with a border
scroll pane slider theming
tab pane header theming
 */